@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaCyrUpright";
  src: url("../fonts/HelveticaCyrillicUpright.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaCE";
  src: url("../fonts/Helvetica-CE-Regular_22458.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ImpactRegular";
  src: url("../fonts/impact.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "JosefinSlab";
  src: url("../fonts/JosefinSlab-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  font-family: "JosefinSlab";
  width: 100%;
  height: 86px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
  opacity: 0.94;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.header__inner {
  max-width: 1063px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.header__logo a {
  font-family: "HelveticaNeueBold";
  font-size: 38px;
  font-weight: 700;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo a span {
  color: #06b5a9;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav__list {
  margin-left: 5px;
  position: relative;
}

.nav__list--submenu:hover .submenu {
  display: block;
}

.nav__link {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s linear;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 33px;
}

.nav__link:hover {
  color: #ffffff;
  background-color: #cf1a2b;
}

.submenu {
  background-color: #cf1a2b;
  position: absolute;
  top: 54px;
  left: 0;
  width: 617px;
  height: 336px;
  display: none;
}

.submenu__img {
  display: flex;
  height: 245px;
}

.submenu__img img {
  margin: auto;
}

.submenu__logo {
  display: block;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 35px;
  padding-top: 23px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.submenu__logo span {
  color: #fec8cd;
}

.submenu__block {
  height: 100%;
  width: 217px;
}

.submenu ul {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  width: 200px;
}

.submenu ul li :hover {
  color: #cf1a2b;
  background-color: #fff;
}

.submenu .ul-1 {
  position: absolute;
  top: 0;
  left: 217px;
}

.submenu .ul-2 {
  position: absolute;
  top: 0;
  left: 417px;
}

.submenu__link {
  display: block;
  font-family: "HelveticaCE";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.72;
  text-decoration: none;
  padding: 10px 36px;
}

.cart {
  margin-left: 117px;
}

.cart__btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 24px;
  color: #9d9d9d;
  cursor: pointer;
}

.cart__price {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 24px;
  color: #9d9d9d;
  margin: 0 10px;
}

.cart__icon {
  margin-right: 10px;
}

.cart__arrow {
  margin-left: 15px;
}

.intro {
  height: 780px;
  width: 100%;
  background: #31a098 url(../img/intro-bg.jpg) center no-repeat;
  background-size: cover;
  margin-top: -86px;
  position: relative;
}

.intro__overlay {
  background-color: #31a098;
  height: 100%;
  width: 100%;
  opacity: 0.36;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__inner {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 350px;
  z-index: 10;
  margin: 0 auto;
  padding: 0 20px;
}

.intro__block {
  padding-top: 50px;
}

.intro__btn {
  border: none;
  background: none;
  cursor: pointer;
}

.intro__subtitle {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 19.72px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
  color: #ffffff;
  letter-spacing: 29.1px;
}

.intro__title {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
  font-family: Impact;
  font-size: 116px;
  font-weight: 400;
  text-transform: uppercase;
}

.discounts {
  width: 100%;
  max-width: 1063px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.discounts__blocks {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: center;
  margin-bottom: 40px;
}

.discounts__blocks .block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
  min-width: 240px;
  height: 251px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  text-transform: uppercase;
}

.discounts__blocks .block__title {
  font-size: 30px;
  color: #ffffff;
  line-height: 32.72px;
}

.discounts__blocks .block__subtitle {
  font-size: 24px;
  color: #ffffff;
  line-height: 19.72px;
}

.discounts__blocks .block__subtitle--m {
  margin-top: 28px;
}

.discounts__blocks .block__subtitle--m2 {
  margin-top: 8px;
}

.discounts__blocks .block__subtitle .fs-1 {
  font-size: 22px;
}

.discounts__blocks .block__subtitle .fs-2 {
  font-size: 20px;
}

.discounts__blocks .block__subtitle .fs-3 {
  font-size: 18px;
}

.discounts__blocks .block__price {
  font-size: 49px;
  line-height: 32.39px;
  color: #5e4c38;
}

.discounts__blocks .block img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.discounts__blocks .block--1 {
  background-color: #58dbd3;
}

.discounts__blocks .block--2 {
  background-color: #e4ce9a;
}

.discounts__blocks .block--3 {
  background-color: #ffa7ce;
}

.discounts__blocks .block--4 {
  background-color: #f2ca66;
  padding: 0px;
}

.discounts__blocks .block__btn {
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 26px;
  width: 142px;
  background-color: #fff;
  color: #f2ca66;
  border: none;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 0.2s linear;
  cursor: pointer;
}

.discounts__blocks .block__btn:hover {
  background-color: #f2ca66;
  color: #fff;
}

.discounts__blocks .block__discount {
  font-size: 106px;
  color: #fff;
  text-align: center;
  transform: scaleY(-1);
}

.discounts__blocks .block__off {
  font-size: 62px;
  line-height: 25.32px;
  color: #fff;
  text-align: center;
}

.categories {
  width: 100%;
  height: 555px;
  background: #2d0e5f url(../img/categories-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.categories__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2d0e5f;
  opacity: 0.36;
  z-index: 1;
}

.categories__title {
  font-family: "JosefinSlab";
  font-weight: 400;
  font-size: 116px;
  color: #ffffff;
  padding-top: 50px;
  text-align: center;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.categories__nav {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  height: 300px;
  z-index: 2;
  overflow: hidden;
}

.categories__link .link__bg {
  height: 199px;
  width: 199px;
  border-radius: 50%;
  position: relative;
}

.categories__link .link__bg--1 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 30px;
  left: -105px;
}

.categories__link .link__bg--2 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 0;
  left: 65px;
}

.categories__link .link__bg--3 {
  background-color: rgba(88, 219, 211, 0.8);
  position: absolute;
  top: 60px;
  left: 215px;
}

.categories__link .link__bg--4 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 10px;
  left: 390px;
}

.categories__link .link__bg--5 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 10px;
  left: 50%;
}

.categories__link .link__bg--6 {
  background-color: rgba(88, 219, 211, 0.8);
  position: absolute;
  top: 40px;
  left: 560px;
}

.categories__link .link__bg--7 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 60px;
  left: 720px;
}

.categories__link .link__bg--8 {
  background-color: rgba(88, 219, 211, 0.8);
  position: absolute;
  top: 15px;
  right: 220px;
}

.categories__link .link__bg--9 {
  background-color: rgba(88, 219, 211, 0.5);
  position: absolute;
  top: 90px;
  right: 70px;
}

.categories__link .link__bg--10 {
  background-color: rgba(88, 219, 211, 0.8);
  position: absolute;
  top: 0px;
  right: -85px;
}

.categories__link .link__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
  background-color: #1b2330;
}

.footer__inner {
  max-width: 1063px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.footer__logo {
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 38px;
  color: #626262;
  line-height: 25.72px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__logo span {
  color: #06b5a9;
}

.footer__copyright {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.72px;
  opacity: 0.5;
  margin-top: 8px;
}

.footer__social img {
  margin-left: 40px;
}

.levis {
  width: 100%;
  position: relative;
  z-index: 1;
  max-width: 1063px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.levis__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.levis__logo {
  margin-top: -16px;
}

.levis__img {
  margin-top: 40px;
}

.levis__title {
  max-width: 550px;
  margin-top: 40px;
  margin-left: 40px;
}

.levis__title h2 {
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 50px;
  color: #1d1d1d;
  margin-bottom: 15px;
}

.levis__title p {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
  line-height: 20px;
}

.levis__block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 40px;
}

.levis__price {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 36px;
  color: #1d1d1d;
}

.levis__price span {
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 36px;
}

.levis__btn {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  background-color: #d62132;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.2s linear;
}

.levis__btn:hover {
  background-color: rgba(133, 21, 32);
}

.levis .jeans {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: center;
}

.levis .jeans__title {
  font-family: "HelveticaNeueRegular";
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1d;
  opacity: 0.88;
  text-align: center;
  margin-top: 10px;
}

.levis .jeans__block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20% - 20px);
  min-width: 180px;
  height: 200px;
  margin-bottom: 80px;
}

.levis .jeans__img {
  position: relative;
  border: 1px solid #c5c5c5;
  height: 170px;
  transition: 0.2s linear;
}

.levis .jeans__img:hover {
  border-color: #d62132;
  cursor: pointer;
}

.levis .jeans__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

@media screen and (max-width: 992px) {
  .header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .discounts {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .levis {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
